h1{color:#000000;}
h2{color:#000000;}
h3{color:#000000;}
body{color:#999999;font-family:verdana;margin:.5em;background-color:#F8F8F8;}
p{font-size:11pt;}
a{color:#98C209;}
td.header{background-color:#FFFFFF;}
td.leftMargin{background-color:#FFFFFF;width:20%;}
td.rightMargin{background-color:#FFFFFF;width:20%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
