<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="common/templates/Tick Tock/style/style.css" />
		<link rel="stylesheet" type="text/css" href="common/templates/Tick Tock/style/orange.css" />
		<!--%JS%-->
	</head>
	<body>
		<!--%CONTROLS%-->
		<table align=center>
		<div id="main">
				<table border=0 align=center cellpadding=10 width=780 cellspacing=0 style="background: #414141;
  color: #D5D2D6;
  border-color: #D5D2D6;">
  					<tr>
  						<td colspan=2 id=links>&nbsp;</td>
  					</tr>
  					<tr>
  						<td colspan=2 id=logo><!--%HEADER%--></td>
  					</tr>
					<tr>
						<td width=200 style="vertical-align:top;padding:1em;"><div style="background: #545454;
  color: #D5D2D6; border:solid #787878 1px; padding:5px;"><!--%LEFT_MARGIN%--></div></td>
						<td rowspan=2 style="vertical-align:top;"><!--%CENTRE%--></td>
					</tr>
					<tr>
						<td width=200 style="vertical-align:top;padding:1em;"><div style="background: #545454;
  color: #D5D2D6; border:solid #787878 1px; padding:5px;"><!--%RIGHT_MARGIN%--></div></td>
					</tr>
					<tr>
						<td colspan=2 style="border-top: 2px solid;background: #545454;
  color: #D5D2D6;
  border-color: #FF9C27;"><!--%FOOTER%--></td>
					</tr>
				</table>
		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%--> - Design by <a href="http://www.dcarter.co.uk">dcarter</a>
			</p>
		</div>
		</table>
	</body>
</html>
