<!--
 ____________________________________________________________
|                                                            |
|    DESIGN + Pat Heard { http://fullahead.org }             |
|      DATE + 2006.03.19                                     |
| COPYRIGHT + Free use if this notice is left in place       |
|____________________________________________________________|

-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">

		<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%
		
		ul {
  list-style-image: url(common/templates/Lazydays/bullet.gif);
}

		.title {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 130px;

  padding: 5px;
}

img.balloons {
  position: absolute;
  z-index: 2;

  top: 70px;
  right: 400px;
}

.gradient {
  margin-bottom: 2em;
  background: #555 url(common/templates/Lazydays/gradient.jpg) repeat-x bottom left;
	padding:10px;
}
		-->
		</style>
	</head>

	<body>
		<!--%CONTROLS%-->
		<table width="100%" cellpadding=0 cellspacing=0 border=0>
			<tr>
				<td valign=bottom width=269 style="background:#ef6800;"><img alt="header bg left" src="common/templates/Lazydays/header_left.jpg"></td>
				<td style="background: url(common/templates/Lazydays/header.jpg) repeat-x bottom left #ef6800;"><!--%HEADER%--></td>
				<td valign=bottom width=492 align=right style="background:#ef6800;"><img alt="header bg right" src="common/templates/Lazydays/header_right.jpg"></td>
			</tr>
		</table>
		<table class=viewing cellspacing=0 cellpadding=0 border=0 width="100%">
			<tr>
				<td class=leftMargin></td>
				<td class=centre>&nbsp;</td>
				<td class=rightMargin></td>
			</tr>
			<tr>
				<td style='vertical-align : top;' class=leftMargin><div style="padding:10px;"><!--%LEFT_MARGIN%--></div></td>
				<td style='vertical-align : top;' class=centre><div class=gradient><!--%CENTRE%--></div></td>
				<td style='vertical-align : top;' class=rightMargin><div style="padding:10px;"><!--%RIGHT_MARGIN%--></div></td>
			</tr>
			<tr>
				<td colspan=3 class=footer><div style="padding:10px;"><!--%FOOTER%--></div></td>
			</tr>
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%--> - Design by <a href="http://fullahead.org" title="Goto Fullahead" target=_blank>Fullahead</a>
			</p>
		</div>

	</body>
</html>
