<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">
		<link href="common/templates/Highway/css.css" rel="stylesheet" type="text/css" />

		<!--%JS%-->
	</head>

	<body>
		<!--%CONTROLS%-->

		<table class=viewing cellspacing=0 cellpadding=0 border=0>
			<tr>
				<td colspan=5 class=header><div id="header"><!--%HEADER%--></div></td>
			</tr>
			<tr>
				<td colspan=5 class=header><div id="underheader"></div></td>
			</tr>
			<tr>
				<td width=75>&nbsp;</td>
				<td style='vertical-align : top;	background-image: url(common/templates/Highway/images/Pettern02.jpg);
	background-repeat: repeat;
	border-left: 1px solid #515151;
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
	text-align: left;
	padding: 10px;
	color: #FFFFFF;' class=leftMargin><!--%LEFT_MARGIN%--></td>
				<td style='vertical-align : top;	background-image: url(common/templates/Highway/images/Pettern02.jpg);
	background-repeat: repeat;
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
	text-align: left;
	padding: 10px;
	color: #FFFFFF;' class=centre><!--%CENTRE%--></td>
				<td style='vertical-align : top;	background-image: url(common/templates/Highway/images/Pettern02.jpg);
	background-repeat: repeat;
	border-right: 1px solid #515151;
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
	text-align: left;
	padding: 10px;
	color: #FFFFFF;' class=rightMargin><!--%RIGHT_MARGIN%--></td>
				<td width=75>&nbsp;</td>
			</tr>
			<tr>
				<td colspan=5 class=footer id="footer"><!--%FOOTER%--></td>
			</tr>
			
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%--> - Design by <a href="http://www.phpldtemplates.info">PHPLD Templates</a>. Sponsored by <a href="http://www.avivadirectory.com">Aviva Directory</a>
			</p>
		</div>

	</body>
</html>
