h1{color:#FFFFFF;}
h2{color:#65ebff;}
h3{color:#65ebff;}
body{color:#eeeeee;font-family:verdana;margin:0em;background-color:#000000;}
p{font-size:11pt;}
a{color:#29e3ff;}
td.header{background-color:#666666;}
td.leftMargin{background-color:#666666;width:15%;}
td.rightMargin{background-color:#666666;width:15%;}
td.footer{background-color:#666666;}
td.centre{background-color:#666666;}
