<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">

		<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%
		-->
		</style>
	</head>

	<body>
		<!--%CONTROLS%-->
		<br />
		<table align=center cellspacing=0 cellpadding=8 border=0 width="80%" style="border:1px solid black;">
			<tr>
				<td colspan=3 class=header><!--%HEADER%--><br />
				<img src="<!--%FEATURE_IMAGE%-->" width="100%" />
				</td>
			</tr>
			<tr>
				<td colspan=3 class=leftMargin><div style="font-size:x-small;">&nbsp;</div></td>
			</tr>
			<tr>
				<td style='vertical-align : top;' class=leftMargin><!--%LEFT_MARGIN%--></td>
				<td style='vertical-align : top;' class=centre><!--%CENTRE%--></div></td>
				<td style='vertical-align : top;' class=rightMargin><!--%RIGHT_MARGIN%--></td>
			</tr>

			<tr>
				<td colspan=3 class=footer><!--%FOOTER%--></td>
			</tr>
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%--> - Design By <a href="http://www.zilladesigns.net" target="_blank">JeremyD</a>
			</p>
		</div>

	</body>
</html>
