h1{color:#989440;}
h2{color:#989440;}
h3{color:#989440;}
body{color:#333333;font-family:verdana;margin:0em;background-color:#FFFFFF;}
p{font-size:11pt;}
a{color:#989440;}
td.header{background-color:#FFFFFF;}
td.leftMargin{background-color:#FFFFFF;width:20%;}
td.rightMargin{background-color:#FFFFFF;width:20%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
