h1{color:#dfa478;}
h2{color:#dfa478;}
h3{color:#dfa478;}
body{color:#FFFFFF;font-family:verdana;margin:0em;background-color:#b89482;}
p{font-size:11pt;}
a{color:#000000;}
td.header{background-color:#2c201d;}
td.leftMargin{background-color:#b89482;width:20%;}
td.rightMargin{background-color:#b89482;width:0%;}
td.footer{background-color:#2c201d;}
td.centre{background-color:#552a00;}
