h1{color:#333399;}
h2{color:#333366;}
h3{color:#6600FF;}
body{color:#000000;font-family:verdana;margin:0em;background-color:#4E7DD1;}
p{font-size:11pt;}
a{color:#0000FF;}
td.header{background-color:#4E7DD1;}
td.leftMargin{background-color:#FFFFFF;width:20%;}
td.rightMargin{background-color:#FFFFFF;width:20%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
