h1{color:#000000;}
h2{color:#000000;}
h3{color:#000000;}
body{color:#000000;font-family:trebuchet ms;margin:0em;background-color:#2b323b;}
p{font-size:11pt;}
a{color:#116ca6;}
td.header{background-color:#2b323b;}
td.leftMargin{background-color:#1c2127;width:20%;}
td.rightMargin{background-color:#1c2127;width:20%;}
td.footer{background-color:#0f1923;}
td.centre{background-color:#1c2127;}
