h1{color:#000000;}
h2{color:#94c258;}
h3{color:#94c258;}
body{color:#767676;font-family:verdana;margin:0em;background-color:#FFFFFF;}
p{font-size:11pt;}
a{color:#e36767;}
td.header{background-color:#9ac5f2;}
td.leftMargin{background-color:#FFFFFF;width:20%;}
td.rightMargin{background-color:#FFFFFF;width:20%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
