<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">

		<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%
		
		h2
		{
			background-color:#DDDDDD;
		}

		h3
		{
			background-color:#DDDDDD;
		}

		-->
		</style>
	</head>

	<body>
		<!--%CONTROLS%-->

		<table class=viewing cellspacing=0 cellpadding=0 border=0>
			<tr>
				<td colspan=3 class=header style="background-image:url(common/templates/Localize/leaf.jpg);
			background-repeat:no-repeat;
			background-position:right center;"><!--%HEADER%--></td>
			</tr>
			<tr>
				<td colspan=3><div style="background:#dddddd;">&nbsp;</div></td>
			</tr>
			<tr>
				<td style='vertical-align : top;padding:10px;' class=leftMargin><div style="border:1px solid #999999;padding:10px;"><!--%LEFT_MARGIN%--></div></td>
				<td style='vertical-align : top;padding:10px;' class=centre><!--%CENTRE%--></td>
				<td style='vertical-align : top;padding:10px;' class=rightMargin><div style="border:1px solid #999999;padding:10px;"><!--%RIGHT_MARGIN%--></div></td>
			</tr>

			<tr>
				<td colspan=3 class=footer style="padding:10px;"><!--%FOOTER%--></td>
			</tr>
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%-->
			</p>
		</div>

	</body>
</html>
