h1{color:#3399ff;}
h2{color:#000000;}
h3{color:#3399ff;}
body{color:#000000;font-family:verdana;margin:0em;background-color:#666666;}
p{font-size:11pt;}
a{color:#33ccff;}
td.header{background-color:#000000;}
td.leftMargin{background-color:#424d47;width:20%;}
td.rightMargin{background-color:#424d47;width:0%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
