<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">
		<link href="common/templates/Cloudy Water/CloudyWater.css" rel="stylesheet" type="text/css">

		<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%

		A:link{ text-decoration:none; }
A:hover{ text-decoration:underline; }
A:active{ text-decoration:none; }
A:active:hover{ text-decoration:underline; }
A:visited{ text-decoration:none; }
A:visited:hover{ text-decoration:underline; }
		-->
		</style>
	</head>

	<body>
		<!--%CONTROLS%-->

		<!--<table cellspacing=0 cellpadding=5 style="width:755px;border-style:solid;border-color:black;border-width:2px;" align=center>-->
		<table cellspacing=0 cellpadding=15px style="width:100%;border-style:solid;border-color:black;border-width:2px;" align=center>
			<tr>
				<td colspan=3 class=header valign=top style="background: url(<!--%FEATURE_IMAGE%-->); background-repeat:no-repeat; background-position: top center;">
					<div style="width:100%;">
						<div style="text-align:center;">
							<!--%HEADER%-->
						</div>
					</div>
					<!--<img src="" width="100%" style="z-index:-1">-->
				</td>
			</tr>
			<tr>
				<td style='vertical-align : top;' class=leftMargin><!--%LEFT_MARGIN%--></td>
				<td style='vertical-align : top;' class=centre><!--%CENTRE%--></td>
				<td style='vertical-align : top;' class=rightMargin><!--%RIGHT_MARGIN%--></div></td>
			</tr>

			<tr>
				<td colspan=3 class=footer style=''><!--%FOOTER%--></td>
			</tr>
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%--> - Design by <a href="http://360guide.info" target=_blank>360guide.info</a>
			</p>
		</div>

	</body>
</html>
