h1{color:#FF0000;}
h2{color:#FF0000;}
h3{color:#000000;}
body{color:#000000;font-family:verdana;margin:0em;background-color:#FFFFFF;}
p{font-size:11pt;}
a{color:#FF0000;}
td.header{background-color:#FFFFFF;}
td.leftMargin{background-color:#FFFFFF;width:15%;}
td.rightMargin{background-color:#FFFFFF;width:15%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
