h1{color:#000000;}
h2{color:#000000;}
h3{color:#000000;}
body{color:#000000;font-family:arial;margin:0em;background-color:#FFFFFF;}
p{font-size:11pt;}
a{color:#0000FF;}
td.header{background-color:#FFFFFF;}
td.leftMargin{background-color:#FED958;width:20%;}
td.rightMargin{background-color:#FED958;width:20%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FED958;}
