<html>
<head>
<title><!--%TITLE%--></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META http-equiv="Content-Style-Type" content="text/css">
<!--%META_DESCRIPTION%-->
<link href="common/common.css" rel="stylesheet" type="text/css">

<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%
		-->
		</style>

</head>

<body>
<!--%CONTROLS%-->

<table width="100%" border="0" align="center" cellpadding="5">
  <tr bgcolor="#DADADA"> 
    <td> 
      <table width="100%" border="0" align="center" cellpadding="5">
        <tr bgcolor="#E9E9E9"> 
          <td> 
            <table width="100%" border="0" align="center">
              <tr bgcolor="#FFFFFF"> 
                <td><br>
                  <br>
                  <br>
                  <table width="75%" border="0" align="center">
                    <tr> 
                      <td width="50%" class=header><!--%HEADER%--></td>
                      <td width="50%"> 
                        <table cellpadding="0" cellspacing="0" align="right" bordercolor="#FFFFFF">
                          <tr> 
                            <td width="10" height="75" bgcolor="#3366CC">&nbsp;</td>
                            <td width="41" height="75" bgcolor="#FED958">&nbsp;</td>
                            <td width="10" height="75" bgcolor="#3366CC">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#5F86D8">&nbsp;</td>
                            <td width="10" height="75" bgcolor="#3366CC">&nbsp;</td>
                            <td width="100" height="75" bgcolor="#FED958">&nbsp;</td>
                            <td width="10" height="75" bgcolor="#3366CC">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#5F86D8">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#72A0CF">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#9BBCDD">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#ACC8E3">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#CBDCED">&nbsp;</td>
                            <td width="10" height="75" bgcolor="#3366CC">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#5F86D8">&nbsp;</td>
                            <td width="5" height="75" bgcolor="#72A0CF">&nbsp;</td>
                            <td width="50" height="75" bgcolor="#FED958">&nbsp;</td>
                            <td width="10" height="75" bgcolor="#3366CC">&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <br>
                  <table border=0 cellpadding=0 cellspacing=0 width='75%' align="center">
                    <tr bgcolor="#3366CC"> 
                      <td colspan="3" height=10></td>
                    </tr>
                    <!--<tr bgcolor="#FED958"> 
                      <td colspan="3" height=10></td>
                    </tr>
                    <tr bgcolor="#3366CC"> 
                      <td colspan="3" height=10></td>
                    </tr>-->
                    <tr bgcolor="#FED958">
                    	<td colspan="3">
                    		<table width='100%'>
													<tr>
			                    	<td colspan="1" style='vertical-align : top;' class=leftMargin> 
															<!--%LEFT_MARGIN%-->
														</td>
			                      <td colspan="1" style='vertical-align : top;' class=centre>
															<div style="padding-left: 10px;padding-right: 10px;"><!--%CENTRE%--></div>
														</td>
			                      <td colspan="1" style='vertical-align : top;' class=rightMargin>
															<!--%RIGHT_MARGIN%-->
														</td>
													</tr>
												</table>
											</td>
                    </tr>
                    <tr bgcolor="#3366CC"> 
                      <td colspan="3" height=10></td>
                    </tr>
                    <tr bgcolor="#5F86D8"> 
                      <td colspan="3" height=5></td>
                    </tr>
                    <tr bgcolor="#72A0CF"> 
                      <td colspan="3" height=5></td>
                    </tr>
                    <tr bgcolor="#ACC8E3"> 
                      <td colspan="3" height=5></td>
                    </tr>
                    <tr bgcolor="#CBDCED"> 
                      <td colspan="3" height=5></td>
                    </tr>
                    <tr bgcolor="#3366CC"> 
                      <td colspan="3" height=10></td>
                    </tr>
                    <tr>
											<td colspan="3" class=footer><!--%FOOTER%--></td>
										</tr>
                    <tr>
											<td colspan="3">
												<div class=aff_footer><p class=aff_footer><!--%AFFINITY%--></p></div>
											</td>
										</tr>
                  </table>
                </td>
              </tr>
              
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
