h1{color:#999999;}
h2{color:#000000;}
h3{color:#999999;}
body{color:#000000;font-family:verdana;margin:0em;background-color:#ebebeb;}
p{font-size:11pt;}
a{color:#0000FF;}
td.header{background-color:#006699;}
td.leftMargin{background-color:#d7d7d7;width:0%;}
td.rightMargin{background-color:#d7d7d7;width:0%;}
td.footer{background-color:#ebebeb;}
td.centre{background-color:#e4e4e4;}
