h1{color:#000000;}
h2{color:#000000;}
h3{color:#000000;}
body{color:#213555;font-family:arial;margin:0em;background-color:#FFFFFF;}
p{font-size:11pt;}
a{color:#000000;}
td.header{background-color:#FFFFFF;}
td.leftMargin{background-color:#dce3ea;width:20%;}
td.rightMargin{background-color:#dce3ea;width:20%;}
td.footer{background-color:#bfbfbf;}
td.centre{background-color:#dce3ea;}
