h1{color:#FFFFFF;}
h2{color:#005b94;}
h3{color:#005b94;}
body{color:#cccccc;font-family:arial;margin:0em;background-color:#5ea4d7;}
p{font-size:12pt;}
a{color:#FFFFFF;}
td.header{background-color:#5ea4d7;}
td.leftMargin{background-color:#5ea4d7;width:10%;}
td.rightMargin{background-color:#5ea4d7;width:10%;}
td.footer{background-color:#00080f;}
td.centre{background-color:#00080f;}
