h1{color:#000000;}
h2{color:#567300;}
h3{color:#000000;}
body{color:#333333;font-family:verdana;margin:0em;background-color:#8fbd2d;}
p{font-size:11pt;}
a{color:#668822;}
td.header{background-color:#567300;}
td.leftMargin{background-color:#edfbc3;width:20%;}
td.rightMargin{background-color:#edfbc3;width:0%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#f7fbf3;}
