<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<link href="common/common.css" rel="stylesheet" type="text/css">
		<link href="common/templates/BlueLeaves/BlueLeaves.css" rel="stylesheet" type="text/css">
		<!--%META_DESCRIPTION%-->

		<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%
		
		A:link{ text-decoration:none; }
A:hover{ text-decoration:underline; }
A:active{ text-decoration:none; }
A:active:hover{ text-decoration:underline; }
A:visited{ text-decoration:none; }
A:visited:hover{ text-decoration:underline; }
		-->
		</style>
	</head>

	<body style="background: #fff url(common/templates/BlueLeaves/bg2.gif);">
		<!--%CONTROLS%-->

		<table cellspacing=0 cellpadding=0 border=0 width=80% align=center>
			<tr>
				<td colspan=3 class=header height="103px" style="
	background: #49515C url(common/templates/BlueLeaves/header_right.gif) repeat-y 100% 0;
	border-bottom: 2px solid #dddddd;
	border-top: 0px solid #FF0000;
	padding: 0px 0px;"><!--%HEADER%--></td>
			</tr>
			<tr>
				<td class=leftMargin style="vertical-align : top;
				border-bottom: 1px solid #dddddd;
				border-right: 1px dashed #dddddd;
	border-top: 1px solid #dddddd;
	padding: 28px 30px;""><!--%LEFT_MARGIN%--></td>
				<td class=centre style="vertical-align : top;
				border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	padding: 28px 30px;""><!--%CENTRE%--></td>
				<td class=rightMargin style="vertical-align : top;
				border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-left: 1px dashed #dddddd;
	padding: 28px 30px;""><!--%RIGHT_MARGIN%--></td>
			</tr>

			<tr>
				<td colspan=3 class=footer style="background: #49515C url(common/templates/BlueLeaves/header_right.gif) repeat-y 100% 0;
	border-bottom: 0px solid #ff0000;
	border-top: 0px solid #ff0000;
	text-align: center;	
	color: #fff;
	font-size: 0.8em;
	padding: 10px;
	line-height: 16px;
	clear: both;"><!--%FOOTER%--></td>
			</tr>
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%--> - Design by <a href="http://www.growldesign.co.uk" target=_blank>growldesign</a>
			</p>
		</div>

	</body>
</html>
