h1{color:#000000;}
h2{color:#000000;}
h3{color:#000000;}
body{color:#111111;font-family:arial;margin:0em;background-color:#528097;}
p{font-size:11pt;}
a{color:#528097;}
td.header{background-color:#afc6d3;}
td.leftMargin{background-color:#bed6e3;width:20%;}
td.rightMargin{background-color:#bed6e3;width:20%;}
td.footer{background-color:#bed6e3;}
td.centre{background-color:#bed6e3;}
