h1{color:#FFFFFF;}
h2{color:#FFFFFF;}
h3{color:#FFFFFF;}
body{color:#FFFFFF;font-family:tahoma;margin:0em;background-color:#029fd4;}
p{font-size:11pt;}
a{color:#FFFFFF;}
td.header{background-color:#029fd4;}
td.leftMargin{background-color:#029fd4;width:20%;}
td.rightMargin{background-color:#029fd4;width:20%;}
td.footer{background-color:#029fd4;}
td.centre{background-color:#029fd4;}
