h1{color:#ff00fe;}
h2{color:#000000;}
h3{color:#ff00fe;}
body{color:#000000;font-family:verdana;margin:0em;background-color:#ff00fe;}
p{font-size:11pt;}
a{color:#ff00fe;}
td.header{background-color:#FFFFFF;}
td.leftMargin{background-color:#FFFFFF;width:15%;}
td.rightMargin{background-color:#FFFFFF;width:15%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
