h1{color:#FFFFFF;}
h2{color:#CCFF00;}
h3{color:#CCFF00;}
body{color:#ffffff;font-family:verdana;margin:0em;background-color:#222222;}
p{font-size:11pt;}
a{color:#00CCFF;}
td.header{background-color:#222222;}
td.leftMargin{background-color:#222222;width:20%;}
td.rightMargin{background-color:#222222;width:20%;}
td.footer{background-color:#222222;}
td.centre{background-color:#222222;}
