.button_GreenLush a:link, .button_GreenLush a:active, .button_GreenLush a:visited
{
	color:           #767676;	
	padding:         13px 7px 15px 7px;
	background:      transparent url('common/templates/GreenLush/menuoff.png') center left repeat-x;
	text-decoration: none;
}

.button_GreenLush a:hover
{
	background:      transparent url('common/templates/GreenLush/menuon.png') center left repeat-x;
	color:           #FDFDFD;
}
