h1{color:#8c7364;}
h2{color:#275a78;}
h3{color:#8c7364;}
body{color:#000000;font-family:verdana;margin:0em;background-color:#f4ddb1;}
p{font-size:11pt;}
a{color:#666666;}
td.header{background-color:#f8ebd2;}
td.leftMargin{background-color:#f4ddb1;width:20%;}
td.rightMargin{background-color:#f4ddb1;width:0%;}
td.footer{background-color:#f8ebd2;}
td.centre{background-color:#f8ebd2;}
