<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<!-- change this to the title you want to appear in browser title bar -->

<title><!--%TITLE%--></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META http-equiv="Content-Style-Type" content="text/css">
<!--%META_DESCRIPTION%-->
<link rel="stylesheet" href="common/templates/Metropolis/style.css" type="text/css" />
<link rel="stylesheet" href="common/common.css" type="text/css" />

<style TYPE="text/css">
		<!--
		%STYLE%
		
		body
		{
			background:url(<!--%FEATURE_IMAGE%-->) repeat-x bottom left fixed #000000;
			margin:0;
		}
		-->
		</style>
</head>

<body>
<!--%CONTROLS%-->

<div id="wrap">

<div id="title"><!--%HEADER%--></div>

<div id="navcontainer">
<!--%LEFT_MARGIN%-->
<br /><br />
<!--%RIGHT_MARGIN%-->
</div>

<div id="container">
<div id="content">
	<!--%CENTRE%-->
	<p class="footer">  
	<!--%FOOTER%-->
	<br /><br />
	
	</p>
</div>
</div>
<div class=black_strap>
<div class=aff_footer>
		<p class=aff_footer>
			<!--%AFFINITY%--> - Design by <a target=_blank href="http://www.dream-logic.com">dreamLogic</a>
		</p>
	</div>
</div>

</div>

</body>
</html>
