h1{color:#983D06;}
h2{color:#983D06;}
h3{color:#983D06;}
body{color:#708FA8;font-family:verdana;margin:0em;background-color:#FFFFFF;}
p{font-size:12pt;}
a{color:#0000FF;}
td.header{background-color:#FFFFFF;}
td.leftMargin{background-color:#FFFFFF;width:15%;}
td.rightMargin{background-color:#FFFFFF;width:15%;}
td.footer{background-color:#FFFFFF;}
td.centre{background-color:#FFFFFF;}
