<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">

		<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%
		
		A:link{ text-decoration:none; }
A:hover{ text-decoration:underline; }
A:active{ text-decoration:none; }
A:active:hover{ text-decoration:underline; }
A:visited{ text-decoration:none; }
A:visited:hover{ text-decoration:underline; }
		-->
		</style>
	</head>

	<body>
		<!--%CONTROLS%-->

		<table width=100% align=center cellspacing=0 cellpadding=0 border=0>
			<tr>
				<td colspan=3 class=header><!--%HEADER%--></td>
			</tr>

			<tr>
				<td style='vertical-align : top;width:364px;' class="centre">
					<div style="background:url(<!--%FEATURE_IMAGE%-->) no-repeat #552A00 top left;
						position:absolute;
						width:364px;
						height:574px;
						margin-left:auto;
						margin-right:auto;
						margin-bottom:0;
						float:left;
						z-index:1;">
					</div>
					<div style="width:134px;
						position:absolute;
						margin-top:0px;
						margin-left:207px;
						z-index:2;">
							<table style="height:574px;z-index:3;width:100%;" cellspacing=0 cellpadding=0 border=0>
								<tr>
									<td style='vertical-align : top;padding-left: 10px;padding-right: 10px;padding-top:10px;' class=leftMargin>
										<!--%LEFT_MARGIN%-->
									</td>
								</tr>
							</table>
					</div>
				</td>
				<td style='height:574px;vertical-align : top;padding:10px;' class=centre>
					<!--%CENTRE%-->
				</td>
				<td style='vertical-align : top;padding:10px;' class=rightMargin>
					<!--%RIGHT_MARGIN%-->
				</td>
			</tr>

			<tr>
				<td colspan=3 class=footer style="padding-left: 10px;padding-right: 10px;padding-top:10px;padding-bottom:10px;"><!--%FOOTER%--></td>
			</tr>
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%--> - <a href="http://www.dream-logic.com" target=_blank>design by dreamLogic</a>
			</p>
		</div>

	</body>
</html>
