<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title><!--%TITLE%--></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<!--%META_DESCRIPTION%-->
		<link href="common/common.css" rel="stylesheet" type="text/css">

		<!--%JS%-->

		<style TYPE="text/css">
		<!--
		%STYLE%
		ul {list-style-type: square;}
		A:link{ text-decoration:none; }
		A:hover{ text-decoration:underline; }
		A:active{ text-decoration:none; }
		A:active:hover{ text-decoration:underline; }
		-->
		</style>
	</head>

	<body style="background:url('common/templates/Dark Strike/bgini.gif');" >
		<!--%CONTROLS%-->

		<table class=viewing cellspacing=10 cellpadding=10 border=0>
			<tr>
				<td colspan=3 class=header style="border:solid gray 1px;"><!--%HEADER%--></td>
			</tr>

			<tr>
				<td style='vertical-align : top;border:solid gray 1px;' class=leftMargin><nobr><!--%LEFT_MARGIN%--></nobr></td>
				<td style='vertical-align : top;border:solid white 1px;' class=centre><!--%CENTRE%--></td>
				<td style='vertical-align : top;border:solid gray 1px;' class=rightMargin><!--%RIGHT_MARGIN%--></td>
			</tr>

			<tr>
				<td colspan=3 class=footer style="border:solid gray 1px;"><!--%FOOTER%--></td>
			</tr>
		</table>

		<div class=aff_footer>
			<p class=aff_footer>
			<!--%AFFINITY%-->
			</p>
		</div>

	</body>
</html>
